/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: 'Rubik Mono One', sans-serif;
}

img {
    display:inline-block;
    max-width: 100%;
}

h2 {
    color: #ffff00;
    font-size: 75px;
    font-weight: 900;
    text-align: center;
}

#converse h2 {
    color: #008001;
}

li {
    list-style-type: none;
}

/* Utils */

.container {
    max-width: 800px;
    margin: 0 auto;
}

.bckground {
    height: 100vh;
    background-color: red;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    translate: -50% -50%;
}


#snkrs  {
    background-color: #008001;
}

#converse {
    background-color: #ffff00;
}

.nav-bar {
    position: fixed;
    top: 30px;
    right: 30px;
}

.nav-bar ul {
    display: flex;
    gap: 30px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    width: 40px;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-weight: 900;
    font-size: 18px;
}